<!--
 * @Author: 谭磊 2928331677@qq.com
 * @Date: 2023-05-08 12:59:26
 * @LastEditors: 谭磊 2928331677@qq.com
 * @LastEditTime: 2023-05-09 17:02:21
 * @FilePath: \code\web\components\topbar\index.html
 * @Description: 这是默认设置,请设置`customMade`, 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
-->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="https://news.baidu.com">达趣新闻</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <!-- 产品与服务 -->
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/web/views/products/index.html" id="topbar-products">产品与服务</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/web/views/news/index.html" id="topbar-news">新闻中心</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/views/login/index.html">登录</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<style>

</style>