html,body,.main{
  height: 100%;
}

.main{
  display: flex;
  flex-direction: column;
  .top-bar{
    height: 50px;
    // background-color: rgb(49, 216, 189);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
  }
  .box{
    flex: 1;
    padding-top: 50px;
    margin-left: 0;
    // background-color: rgb(39, 207, 201);
    .sideMenu{
      margin-left: 0;
      padding: 0;
      border: 0;
    }
    .homeContainer{
      padding: 20px;
      .maincontent{
        padding: 20px;
        box-shadow: 0 0 5px rgba($color: #000000, $alpha: 0.2)
      } 
    }
  }
}