<!--
 * @Author: 谭磊 2928331677@qq.com
 * @Date: 2023-05-05 12:17:54
 * @LastEditors: 谭磊 2928331677@qq.com
 * @LastEditTime: 2023-05-09 16:34:47
 * @FilePath: \code\admin\views\home\index.html
 * @Description: 这是默认设置,请设置`customMade`, 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- 引入 bootstrap.css 文件 -->
  <link rel="stylesheet" href="/admin/lib/css/bootstrap.css">
  <link rel="stylesheet" href="/admin/views/home/index.css">
  <!-- 引入 bootstrap.js 文件 -->
  <script src="/admin/lib/JS/bootstrap.bundle.js"></script>
  <!-- 引入 css -->
  <link rel="stylesheet" href="/web/views/detail/index.css">
</head>
<body>
  <!-- 这里是 HTML -->
  <div class="main">
    <!-- 顶部栏 -->
    <div class="top-bar"></div>
    <!-- 这是主要内容区域 -->
    <div class="box">
      <!-- 内容展示区域 -->
      <div class="content">
        <div class="title">
          <hr/>
          <p class="card-text" style="font-size: 10px;color: grey">作者:<span class="author"></span></p>
        </div>
        <div class="newscontent"></div>
      </div>
    </div>
  </div>

  <!-- 这里是 script -->
  <script src="index.js" type="module"></script>
</body>
</html>