<!--
 * @Author: 谭磊 2928331677@qq.com
 * @Date: 2023-05-05 13:45:18
 * @LastEditors: 谭磊 2928331677@qq.com
 * @LastEditTime: 2023-05-08 12:35:22
 * @FilePath: \code\admin\components\topbar\index.html
 * @Description: 这是默认设置,请设置`customMade`, 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
-->
<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand">新闻后台管理系统</a>
    <div>
      <img src="" alt="" id="topbar-photo" style="width: 40px;">
      欢迎
      <span id="currentUsername">aaaa</span>
      回来
      <!-- 点击退出按钮，询问用户是 确认退出 或者 取消退出 -->
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" id="exit">退出</button>
    </div>
  </div>
</nav>